{% extends 'base.html' %}
{% block title %}Secret Santa{% endblock %}
{% block content %}
<body>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/Santa.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to Secret Santa App!</h1>
        <p class="lead">You can create a new Secret Santa party now!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{{ url_for('info') }}" type="button" class="btn btn-primary btn-lg px-4 me-md-2">New party!</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}