{% extends 'base.html' %}
{% block title %}Secret Santa{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="p-2 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Almost done!</h1>
    <p class="lead">
        Check if everything is correct, add your message to the participants and send it
    </p>
  </div>
</div>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-2">
      <div class="col-lg-5 text-lg-start position-relative">
          <h6 class="display-6 fw-bold lh-4 text-body-emphasis mb-3 text-center">Party details</h6>
            <ul class="list-group list-group-horizontal mx-auto px-3 py-2" style="width: 100%">
                <li class="list-group-item list-group-item-primary text-center party-details">Date</li>
                <li class="list-group-item list-group-item-primary text-center party-details">{{ info['date'] }}</li></ul>
            <ul class="list-group list-group-horizontal mx-auto px-3 py-2" style="width: 100%">
                <li class="list-group-item list-group-item-primary text-center party-details">Place</li>
                <li class="list-group-item list-group-item-primary text-center party-details">{{ info['place'] }}</li></ul>
            <ul class="list-group list-group-horizontal mx-auto px-3 py-2" style="width: 100%">
                <li class="list-group-item list-group-item-primary text-center party-details">Max price</li>
                <li class="list-group-item list-group-item-primary text-center party-details">{{ info['price'] }}</li></ul>
        <h6 class="display-6 fw-bold lh-1 text-body-emphasis mb-3 text-center">List of guests</h6>
            <ul class="list-group mx-auto p-2" style="width: 50%;">
                {% for participant in participants: %}
                <li class="list-group-item list-group-item-primary text-center">{{ participant.name }}</li>
                {% endfor %}
            </ul>
      </div>
      <div class="col-md-10 mx-auto col-lg-7">
          <form  action="{{ url_for('review') }}" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
              <label for="exampleFormControlTextarea1" class="form-label">Message to your friends</label>
          <div class="card" style="width: 100%">
              <div class="card-body">
                  <h5 class="card-title">Ho! Ho! Ho!</h5>
                  <p class="card-text">A person you for whom you will get a present is
                  <span class="badge bg-primary">???</span>! The party will take place
                      in <span class="badge bg-primary">{{ info['place'] }}</span> on
                      <span class="badge bg-primary">{{ info['date'] }}</span>
                      Maximal price of the presents was set to
                      <span class="badge bg-primary">{{ info['price'] }}</span>
                  </p>
              </div>
          </div>
          <hr class="my-4">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Add your own message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
              <button type="submit" class="btn btn-primary btn-lg px-4 gap-3 mt-3" id="submit">Send</button>
          </form>
      </div>
    </div>
  </div>
{% endblock %}